In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
file_path = r'C:\Users\Osama\OneDrive\Desktop\BrainyBeam\archive\gdp.csv' # replace with your actual file path
data = pd.read_csv(file_path)

In [3]:
print(data.head())

                  Country Name Code          1960          1961          1962  \
0                        Aruba  ABW           NaN           NaN           NaN
1  Africa Eastern and Southern  AFE  1.931311e+10  1.972349e+10  2.149392e+10
2                  Afghanistan  AFG  5.377778e+08  5.488889e+08  5.466667e+08
3   Africa Western and Central  AFW  1.040428e+10  1.112805e+10  1.194335e+10
4                       Angola  AGO           NaN           NaN           NaN

           1963          1964          1965          1966          1967  ...  \
0           NaN           NaN           NaN           NaN           NaN  ...
1  2.573321e+10  2.352744e+10  2.681057e+10  2.915216e+10  3.017317e+10  ...
2  7.511112e+08  8.000000e+08  1.006667e+09  1.400000e+09  1.673333e+09  ...
3  1.267652e+10  1.383858e+10  1.486247e+10  1.583285e+10  1.442643e+10  ...
4           NaN           NaN           NaN           NaN           NaN  ...

           2012          2013          2014          2015          2016  \
0  2.534637e+09  2.727850e+09  2.790849e+09  2.962905e+09  2.983637e+09
1  9.505214e+11  9.642424e+11  9.848071e+11  9.199300e+11  8.733549e+11
2  1.990732e+10  2.014640e+10  2.049713e+10  1.913421e+10  1.811656e+10
3  7.275714e+11  8.207876e+11  8.649666e+11  7.607297e+11  6.905430e+11
4  1.280529e+11  1.367099e+11  1.457122e+11  1.161936e+11  1.011239e+11

           2017          2018          2019          2020  Unnamed: 65
0  3.092430e+09  3.202189e+09           NaN           NaN          NaN
1  9.853557e+11  1.012853e+12  1.009910e+12  9.207923e+11          NaN
2  1.875347e+10  1.805323e+10  1.879945e+10  2.011614e+10          NaN
3  6.837416e+11  7.416916e+11  7.945725e+11  7.845876e+11          NaN
4  1.221238e+11  1.013532e+11  8.941719e+10  5.837598e+10          NaN

[5 rows x 64 columns]

In [4]:
data.iloc[25]

Country Name               Belarus
Code                           BLR
1960                           NaN
1961                           NaN
1962                           NaN
                       ...
2017            54726595249.184898
2018            60031262269.336502
2019            64409647193.804398
2020            60258239055.582901
Unnamed: 65                    NaN
Name: 25, Length: 64, dtype: object

In [7]:
data.loc[100,"Country Name"]

'Haiti'

In [13]:
data.iloc[100:200:5,[1,5,9,10,0]]

,Code,1963,1967,1968,Country Name
100,HTI,2.948834e+08,3.691242e+08,3.679688e+08,Haiti
105,IDB,1.461190e+10,1.893035e+10,1.998231e+10,IDA blend
110,INX,NaN,NaN,NaN,Not classified
115,ISR,2.992333e+09,4.030000e+09,4.619000e+09,Israel
120,KAZ,NaN,NaN,NaN,Kazakhstan
125,KNA,1.283323e+07,1.674234e+07,1.460000e+07,St. Kitts and Nevis
130,LBN,NaN,NaN,NaN,Lebanon
135,LDC,NaN,NaN,NaN,Least developed countries: UN classification
140,LMY,3.617016e+11,4.759601e+11,5.024285e+11,Low & middle income
145,LVA,NaN,NaN,NaN,Latvia
150,MDA,NaN,NaN,NaN,Moldova
155,MHL,NaN,NaN,NaN,Marshall Islands
160,MMR,6.599767e+08,3.281824e+08,5.311864e+08,Myanmar
165,MOZ,NaN,NaN,NaN,Mozambique
170,NAC,6.837264e+11,9.275238e+11,1.014480e+12,North America
175,NIC,2.929162e+08,6.571714e+08,6.959000e+08,Nicaragua
180,NZL,6.638937e+09,5.961418e+09,5.180598e+09,New Zealand
185,PAN,7.227845e+08,1.034376e+09,1.112791e+09,Panama
190,POL,NaN,NaN,NaN,Poland
195,PRY,NaN,4.926746e+08,5.176508e+08,Paraguay